<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accound</title>
    <link rel="stylesheet" href="../css/acound.css">
    <script type="module" src="../js/name2.js"></script>
    <script type="module" src="../js/accound.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <div class="card">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" alt="Abstract background" id="profile">
            <div class="card-content">
                <h2 class="card-title" id="saludo"></h2>
                <p class="card-subtitle">Welcome to your accound</p>
                <p class="card-text">Explore our entire catalog of movies or if you don't want to see anything else you can close the section</p>
                <a href="#" class="button" id="cerrar">Log Out</a>
            </div>
        </div>
    </div>
    <div class="bottom-nav">
        <div class="nav-item">
            <div><i class='bx bxs-home'></i>
                <p>Home</p>
            </div>
        </div>
        <div class="nav-item">
            <div><i class='bx bx-search' ></i>
                <p>Browse</p>
            </div>
        </div>
        <div class="nav-item">
            <div><i class='bx bxs-coupon'></i>
                <p>Tickets</p>
            </div>
        </div>
        <div class="nav-item">
            <div><i class='bx bx-user'></i>
                <p>Profile</p>
            </div>
        </div>
    </div>
</body>
</html>
