<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="../css/login.css" rel="stylesheet" type="text/css"/>
    
	<title>Formulario de inicio de sesión</title>
  <script type="module" src="../js/name.js"></script>
</head>
<body>
	<div class="container">
    <h2>Inicio de sesión</h2>
	<form>
        <label for="username">Correo:</label>
        <input type="text" id="emaillog" class="emaillog" name="username" required placeholder ='Ingresa tu correo'>
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" id="passwordlog" name="password" required placeholder="Password">
        <br>
      </form>
      <center>
      <button type="submit" id="login">Ingresar</button>  <button type="submit" id="cerrar" style="display: none;">Cerrar Sesion</button>
        <p>¿No tienes una cuenta? <a href="/register-user">Regístrate aquí</a>.</p></center>
  </div>
</body>
<script type="module" src="../js/login.js"></script>
</html>
