<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinema secton</title>
    <link rel="stylesheet" href="../css/movie.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script type="module" src="../js/movie.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.5.0/lite-youtube.js"></script>
</head>
<body>
    <header class="header">
        <i class='bx bx-chevron-left' id="atras"></i>
        <h1>Cinema section</h1>
        <i class='bx bx-dots-vertical-rounded' ></i>
    </header>
    <div class="card">
        
    </div>
</body>
</html>
