<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/movies.css">
    <script type="module" src="../js/main.js"></script>
</head>

<body>
    <div class="container">
        <div class="header">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg"
                alt="Profile Picture">
            <h1>Hi, Fernuco Tuccine!<br>Let's watch a movie together!</h1>
        </div>

        <div class="search-bar">
            <form id="searchForm">
                <input id="searchInput" type="text" placeholder="Search movies, cinemas, genre...">
                <button type="submit">Search</button>
            </form>
        </div>

        <div class="section-title">
            <h2>Now playing</h2>
            <a href="#" style="color: red;">See all</a>
        </div>

        <div class="movie-list">
            
        </div>

        <div class="comming">
            <div class="section-title">
                <h2>Coming soon</h2>
                <a href="#" style="color: red;">See all</a>
            </div>

            <div class="movie-list-comming">
                <div class="movie-comming">
                    <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2023/03/poster-fast-furious-x-2983486.jpg?tf=3840x"
                        alt="Furious 10">
                    <p>Furious 10 (2022)</p>
                    <p>Action</p>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-nav">
        <div class="nav-item">
            <div><i class='bx bxs-home'></i></div>
            <p>Home</p>
        </div>
        <div class="nav-item">
            <div><i class='bx bxs-store'></i></div>
            <p>Tickets</p>
        </div>
        <div class="nav-item">
            <div><i class='bx bx-user'></i></div>
            <p>Profile</p>
        </div>
    </div>
</body>

</html>
