<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie App</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/movies.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg" alt="Profile Picture" class="profile">
            <div class="text">
                <h1 class="saludo">Hi, Fernuco Tuccine</h1>
            <h1 class="watch">Let's watch a movie together!</h1>
            </div>
            <img src="https://i.ibb.co/DCtr5hv/image.png" alt="image" class="bell">
        </div>

        <div class="search-bar">
            <form id="searchForm">
                <input id="searchInput" type="text" placeholder="Search movies, cinemas, genre...">
                <button type="submit"><i class='bx bx-search'></i></button>
            </form>
        </div>

        <div class="section-title">
            <h2>Now playing</h2>
            <a href="#" style="color: red;">See all</a>
        </div>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <!-- Las películas se cargarán aquí dinámicamente -->
            </div>
            <div class="swiper-pagination"></div>
        </div>

        <div class="comming">
            <div class="section-title">
                <h2>Coming soon</h2>
                <a href="#" style="color: red;">See all</a>
            </div>
            <div class="movie-list-comming">
                <div class="movie-comming">
                    <img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2023/03/poster-fast-furious-x-2983486.jpg?tf=3840x" alt="Furious 10">
                    <div>
                        <p>Furious 10 (2022)</p>
                        <p>Action</p>
                    </div>
                </div>
                <!-- Añade más películas aquí -->
            </div>
        </div>
    </div>

    <div class="bottom-nav">
        <div class="nav-item">
            <div><i class='bx bxs-home'></i>
                <p>Home</p>
            </div>
        </div>
        <div class="nav-item">
            <div><i class='bx bx-search' ></i>
                <p>Browse</p>
            </div>
        </div>
        <div class="nav-item">
            <div><i class='bx bxs-coupon'></i>
                <p>Tickets</p>
            </div>
        </div>
        <div class="nav-item">
            <div><i class='bx bx-user'></i>
                <p>Profile</p>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="module" src="../js/main.js"></script>
</body>
</html>
