<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/pay.css">
    <script type="module" src="../js/pay.js"></script>
</head>

<body>
    <div class="container-header">
        <header class="header">
            <i class='bx bx-chevron-left' id="atras"></i>
            <h1>Order Summary</h1>
            <i class='bx bx-dots-vertical-rounded'></i>
        </header>
        <div class="first-card">
            <div class="movie-img">
                <img src="https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg"
                    alt="">
            </div>
            <div class="text">
                <h2 class="title">movie title</h2>
                <p class="genre">genre</p>
                <h2 class="cine-name">Cinema name</h2>
                <p class="date">date ticket</p>
            </div>
        </div>
    </div>
    <main class="second-card">
        <div class="order">
            <p class="textOrder">ORDER NUMBER:</p>
            <p class="number">123456789</p>
        </div>
        <div class="orderDate">
            <div class="orderDate1">
                <p class="ticketInfo">1 TICKET</p>
                <p class="ubi">C5</p>
            </div>
            <div class="orderDate1">
                <p class="tipeTicket">REGULAR SEAT</p>
                <p class="price">$24.99 x 3</p>
            </div>
            <div class="orderDate1">
                <p class="service">SERVICE FREE</p>
                <p class="price">$1.99 x 1</p>
            </div>
        </div>
        <section class="payment">
            <h1 class="titleP">
                <h1 class="payment">Payment method</h1>
            </h1>
            <div class="creditCard">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqEzY6ntfa6m2Y2M7Z77pKqbC-joBiRzBn6A&s"
                    alt="">
                <div class="infoCard">
                    <p class="nameCard">MasterCard</p>
                    <p class="numberCard">**** **** 1234 1234</p>
                </div>
                <div class="select">
                    <button></button>
                </div>
            </div>
            <div class="contador">
                <p class="sms">Complete your payment in</p>
                <p class="timer" id="timer">05:00</p>
            </div>
            <button class="comprar">Buy ticket</button>
        </section>
    </main>

</body>

</html>