<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/pay.css">
</head>
<body>
    <div class="container-header">
        <header class="header">
            <i class='bx bx-chevron-left' id="atras"></i>
            <h1>Order Summary</h1>
            <i class='bx bx-dots-vertical-rounded' ></i>
        </header>
        <div class="first-card">
            <div class="movie-img">
                <img src="https://m.media-amazon.com/images/M/MV5BNDYxNjQyMjAtNTdiOS00NGYwLWFmNTAtNThmYjU5ZGI2YTI1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_.jpg" alt="">
            </div>
            <div class="text">
                <h2 class="title">movie title</h2>
                <p class="genre">genre</p>
                <h2 class="cine-name">Cinema name</h2>
                <p class="date">date ticket</p>
            </div>
        </div>
    </div>

</body>
</html>