*{
    user-select: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    
    min-height: 100vh;
    background-color: #121212;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
    width: 100%;
}
.header i {
    font-weight: 500;
    font-size: xx-large;
}
.header h1{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}
.card {
    color: #ffffff;
    padding: .7rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
.title {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 0  !important;
    padding: 0  !important;
}
.synopsis{
    font-size: .7rem;
}
.genre{
    margin: 0  !important;
    padding: 0  !important;
    font-size: .7rem;
}
.title h2{
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1rem !important;
}
.trailer{
    display: flex;
    align-items: center;
    color: #fff;
    border: none;
    background: red;
    border-radius: 7px;
    width: 5.25rem;
    height: 1.375rem;
    font-weight: 500;
    font-size: .6rem;
    margin-left: 2.313rem;
}
.trailer i {
    font-size: 1rem;

}
.cast-title{
    font-weight: 500;
    margin-bottom: 2%;
    padding: 0;
    font-size: 1.2rem;
}

.cast{
    display: flex;
    overflow-x: auto;
    gap: 5%;
}
.ytp-cued-thumbnail-overlay-image{
    border-radius: 15px !important;
}
.cine{
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: 2%;
    background: #333;
    border-radius: 25px;
    padding: 2%;
    border: none;
    width: 95%;
}
.cine-info p{
    margin: 0;
    padding: 0;
    font-size:.7rem;
}
.cine-name{
    font-weight: 700;
    font-size: .8rem !important;
}
.cinemas {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25vh;
}
.cinemas img{
    width: 3.563rem;
    height: 3.563rem;
    border-radius: 25px;
    object-fit: cover;
}
.cine:hover{
    border: 2px solid #b20710;
    cursor: pointer;
    transition: border-color 0.3s ease;
}
.cast img{
    width: 3.563rem;
    height: 3.563rem;
    border-radius: 100%;
    object-fit: cover;
}
.actor{
    display: flex;
    width: 100%;
    gap: 10%;
    
}
.actor-info{
    width: 10.438rem;
    display: flex;
    flex-direction: column;
    font-size: small;
    justify-content: center;
}
.actor-name{
    font-weight: 700;
    font-size: .7rem;
}
.actor p{
    margin: 0;
    padding: 0;

}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}
.movie-img {
    border-radius: 8px;
    margin-bottom: 16px;
    width: 100%;
    height: 12.75rem;
    object-fit: cover;
}
.imagen-poster img, .trailer-container {
    width: 100%;
    height: 12.75rem;
    display: flex;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 16px;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.card .title .synopsis {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1.875rem;
    padding:  0;
}

.card .muted {
    color: #666666;
}

.card .cast-list,
.card .cinema-list {
    text-align: left;
}

.card .cinema-list div {
    background-color: #333333;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.card .button {
    background-color: #E50914;
    color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    transition: background-color 0.3s ease;
}

.button{
    width: 95% !important;
}

.card .button:hover {
    background-color: #b20710;
}

/* Additional Styles */
.header, .status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}

.back-button, .more-options {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
}

h1 {
    font-size: 18px;
    margin: 0;
}

.imagen-poster {
    width: 100%;
    height: 29vh;
    display: flex;
    overflow-y: hidden;
    align-self: center;
}

.movie-poster {
    height: 20%;
    margin-bottom: 20px;
    display: grid;
    grid-template-rows: 250px 1fr;
}

.movie-info {
    display: grid;
    grid-template-columns: 68% 1fr;
    grid-template-rows: repeat(1fr 2);
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    border-radius: 0 0 10px 10px;
}

.movie-info h2 {
    margin: 0;
    font-size: 24px;
}

.movie-info p {
    font-size: 14px;
}

.watch-trailer {
    background-color: #E50914;
    width: 100%;
    height: 3em;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 10px;
}

.cast, .cinema-selection {
    margin-bottom: 20px;
}

.cast-members {
    display: flex;
    overflow-x: scroll;
}

.cinema-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E1E1E;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}
.cine-info{
    width: 100%;
    margin-left: 1rem;
}

.cinema-info h4 {
    margin: 0;
    font-size: 16px;
}

.cinema-info p {
    margin: 5px 0 0;
    font-size: 12px;
    color: #888;
}

.showtime {
    background-color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.book-now {
    background-color: #E50914;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    width: 100%;
    margin-top: 20px;
}
.comprar2{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
