*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #121212;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}
.container-header {
    background: linear-gradient(135deg, #272727 100%, #ffffff 100%);
    clip-path: polygon(50% 100% 100%, 0% 100%);
    height: 35vh;
  }
  
.header {
    display: flex;
    justify-content: space-between;
    height: 8vh;
    align-items: center;
    width: 100%;
}
.header i {
    font-weight: 500;
    font-size: xx-large;
}
.header h1{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}
.first-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2%;
}
.movie-img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-card img{

    width: 8rem;
    object-fit: contain;
    border-radius: 10px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.genre{
    margin-bottom: 4rem;
}
.title{
    color: red;
    font-size: 1rem;
}
.cine-name{
    font-size: 1rem;
}
.genre, .date{
    font-size: .8rem;
    color: #ffffff80;
}
.second-card{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.order{
    width: 100%;
    display: flex;
    font-size: .8rem;
    margin-bottom: .5rem;
}
.textOrder{
    display: flex;
    margin-right: 1rem;
    color: #ffffff80;

}
.orderDate{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;

}
.orderDate1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2%;
    color: #ffffff80;
    border-bottom: 2px #ffffff80 solid;
}
.payment{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.creditCard{
    width: 100%;
    display: flex;
    padding: 2%;
    color: #ffffff80;
    justify-content: space-around;
    align-items: center;
    background: #ffffff35;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.nameCard{
    color: #fff;
}
.creditCard img{
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}
.select{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    padding: .8px;
    border: 2px red solid;
    padding: .8%;

}
.select button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: none;
    border: none;
}
.select button:hover{
    background: red;
}
.addCard{
    display: flex;
    justify-content: center;
    background: #272727;
    color: #ffffff;
    font-size: 1.2rem;
    align-items: center;
    padding: 2%;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
}

.cerrar{
    position: absolute;
    top: 37rem;
    right: 2rem;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    z-index: 2;
    background: none;
    border: none;
}

#payment-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
#card-element{
    position: absolute;
    width: 90%;
    flex-wrap: wrap;
    height: 20vh;
    background: #111;

    display: flex;
    color: #fff;
    justify-content: center;
    flex-direction: column;
    padding: 10%;
    border-radius: 15px;
    box-shadow: 0px 1px 2px 3px #272727;
}

.add{
    display: flex;
    width: 30%;
    font-size: 1.2rem;
    padding: 2%;
    z-index: 2;
    margin-top: 50px;
    margin-left: 20px;
    border-radius: 10px;
    background: none;
    background-color: #272727;
    color: #fff;
    border: none;
}

#card-element p{
    margin-top: 20px;
    color: #ffffff;
}

#card-element g, #card-element svg{
    fill: #ffffff !important;
}
.card{
    display: flex;
    gap: 10%;
    background: #272727;
    padding: 5%;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
}
.card img{
    width: 3rem;
    object-fit: contain;
    
}

.elejir{
    width: 2rem;
    height: 2rem;
    border:2px red solid;
    border-radius: 100%;
    padding: 1.5%;
    margin-left: 3rem;
}
.check{
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 100%
    ;
}

.contador{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: #381818;
    padding: 4%;
    border-radius: 10px;
    margin-bottom: 50px;
}
.timer{
    color: red;
}
.comprar{
    border: none;
    width: 100%;
    background-color: red;
    color: #ffffff;
    height: 53px;
    border-radius: 10px;
}