*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #111;
	color: #fff;
	width: 100%;
	height: 100vh;
	padding: 5%;
  }
  
  h2 {
	text-align: center;
	font-size: 36px;
	margin: 30px 0;
	color: #fff;
  }
  
  form {
	width: 100%;
	border-radius: 5px;
  }
  
  label {
	display: block;
	font-size: 18px;
	margin-bottom: 10px;
	color: #fff;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
	display: block;
	background: none;
	border: none;
	border-bottom: 3px red solid;
	width: 100%;
	padding: 10px;
	font-size: 16px;
	color: #ff1100;
  }
  
  button[type="submit"] {
	display: block;
	margin: 20px auto 0;
	padding: 10px 20px;
	font-size: 20px;
	color: #fff;
	background-color: #F44336;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
  button[type="submit"]:hover {
	background-color: #ff1100;
  }
  
  a {
	color: #ff0000;
  }
  
  a:hover {
	color: #ac0000;
  }
  
  p {
	margin-top: 20px;
	font-size: 18px;
	text-align: center;
  }
  
  #username:focus,
  #email:focus,
  #password:focus,
  #password_confirm:focus {
	background-color: #fff;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  }
  
  #username:invalid,
  #email:invalid,
  #password:invalid,
  #password_confirm:invalid {
	border-color: #F44336;
  }
  
  #username:valid,
  #email:valid,
  #password:valid,
  #password_confirm:valid {
	border-color: #4CAF50;
  }
  
  #password_confirm {
	margin-bottom: 40px;
  }
  